<!--
<div *ngIf="case">
  <h2>{{case.name}}</h2>
  <div>id: {{case.id}}</div>
  <div><img class="card" src="{{case.image}}" alt=""></div>
  <div>
    <label for="case-name">Case name: </label>
    <input id="case-name" [(ngModel)]="case.name" placeholder="name">
  </div>
</div>
<div>
  <button type="button" (click)="goBack()">Volver</button>
</div>



<div class="container-card" *ngIf="case">
  <img class="card" mat-card-image src="{{case.image}}" alt="Foto caja">
  <mat-card-header>
    <mat-card-title>{{case.name}}</mat-card-title>
  </mat-card-header>
</div>
-->


<div *ngIf="case">
  <h1>{{ case.name }}</h1>
  <img [src]="case.image" alt="Foto caja">

  <h2>Armas:</h2>

</div>

<div class="container-card" *ngFor="let weapon of weapons">
  <img class="card" mat-card-image src="{{weapon.image}}" alt="Foto skin">
  <mat-card-header>
    <mat-card-title>{{weapon.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Rareza: {{weapon.rarity}}
    </p>
  </mat-card-content>
</div>



<!--
<button class="container-card" *ngFor="let c of cases; let i = index" routerLink="/cases/{{c.weapons[i].image}}">
  <img class="card" mat-card-image src="{{c.weapons[i].image}}" alt="Foto caja">
  <mat-card-header>
    <mat-card-title>{{c.weapons[i].name}}</mat-card-title>
  </mat-card-header>
</button>



  <button class="container-card" *ngFor="let case of cases" routerLink="/cases/{{case.id}}">
  <img class="card" mat-card-image src="{{case.image}}" alt="Foto caja">
  <mat-card-header>
    <mat-card-title>{{case.name}}</mat-card-title>
  </mat-card-header>
</button>
-->
