<div *ngIf="case" class="containerBox">
  <div class="box">
    <h1 class="title">{{ case.name }}</h1>
  </div>
  <div>
    <img [src]="case.image" alt="Foto caja">
  </div>

  <h2>Armas</h2>

</div>

<div class="divtarjeta">
  <div class="container-card" *ngFor="let weapon of weapons">
    <div class="card">
      <img class="image" mat-card-image src="{{weapon.image}}" alt="Foto skin">
    </div>
    <mat-card-header class="textCard">
      <mat-card-title>{{weapon.name}} </mat-card-title>
      <mat-card-subtitle >{{weapon.rarity}}</mat-card-subtitle>
    </mat-card-header>
  </div>
</div>
