ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

.highlight {
  background-color: #f8f8f8;
  font-weight: bold;
}
